<%- include('../includes/head.ejs') %>
	</head>

	<body>
		<%- include('../includes/navigation.ejs') %>
			<h1>Checkout</h1>
			<main>
				<% if (hasProducts) { %>
					<table border="1px" cellpadding="7x">
						<tr>
							<th>Product title</th>
							<th>Price</th>
							<th>Quantity</th>
						</tr>
						<% for (product of products) { %>
							<tr>
								<td>
									<%= product.title %>
								</td>
								<td>
									<%= product.price %>
								</td>
								<td>
									<%= product.quantity %>
								</td>
							</tr>
							<% } %>
					</table>
					<% } %>
						<h3>Total price: <%= totalPrice %> $</h3>


						<!-- https://stripe.com/docs/js/including -->
						<div class="centered">
							<button type="button" class="btn" id="order-btn">Make payment</button>
							<script src="https://js.stripe.com/v3/"></script>
							<script>
								var stripe = Stripe('pk_test_51MlXufKPHLprKQizF0flhtUR8xEdhb5uvI7HOOTyFXvvK8hjgmSGKQfWOmLwd0RyyBNkQeRwYXrz1c7Ud4YXQsYd00C1U5qys5');
								var orderBtn = document.getElementById('order-btn');
								orderBtn.addEventListener('click', (e) => {
									stripe.redirectToCheckout({
										sessionId: "<%= sessionId %>"
									});
								});
							</script>
						</div>
			</main>
			<%- include('../includes/end.ejs') %>